
<h1>Pitches</h1>

<strong><%= @pitch_rounds[0].pitch.title %> </strong>
<%= form_for :teams do |f| %>
  <% @users.each do |user| %>
        <%= f.check_box user.id %>
        <%= user.name %><br>
      <% end %>
      <%= f.hidden_field :pitch_id, :value => @pitch_rounds[0].pitch.id %>
    <%= f.submit %>

<% end %>

<br>

<strong><%= @pitch_rounds[1].pitch.title %> </strong>
<%= form_for :teams do |f| %>
  <% @users.each do |user| %>
        <%= f.check_box user.id %>
        <%= user.name %><br>
      <% end %>
      <%= f.hidden_field :pitch_id, :value => @pitch_rounds[1].pitch.id %>
    <%= f.submit %>
<% end %>

<br>

<strong><%= @pitch_rounds[2].pitch.title %></strong>
<%= form_for :teams do |f| %>
  <% @users.each do |user| %>
        <%= f.check_box user.id %>
        <%= user.name %><br>
      <% end %>
      <%= f.hidden_field :pitch_id, :value => @pitch_rounds[2].pitch.id %>
    <%= f.submit %>
<% end %>