<div class = "container-fluid">

  <div class = "page-header">
    <h1>Create the teams</h1>
  </div>

  <% @teams.each do |team| %>
    
    <h4> <%= team.pitch.title %></strong></h4>
    <% if team.students.count == 0  %>
      <%= bootstrap_form_for :user, url: assign_users_path do |f| %>
        <%= f.hidden_field :team_id, :value => team.id %>
        <% @users.each do |user| %>
          <%= check_box_tag "user_id[]", user.id %>
          <%= user.name %>
          <br>
        <% end %>
      <%= f.submit "Create Team" %><br><br>
      <% end %>
    <% else %>
      <p> Team has been set! </p>
      <br>
    <% end %>

  <% end %>
  <%= link_to "View the teams", teams_path, method: :get, class: "btn btn-primary" %>
</div>