<div class = "container-fluid">
  <h1>Create the teams</h1>

  <% @pitches.each do |pitch| %>

    <strong> <%= pitch.title %></strong><br>
    <%= form_for(:teams, url: teams_path ) do |f| %>
      <% @users.each do |user| %>
        <%= f.check_box "team[user_id]", pitch.team.id %>
        <%= user.name %><br>
      <% end %>
        <%= f.hidden_field :pitch_id, :value => pitch.id %>
      <%= f.submit %>
    <% end %>

  <% end %>

</div>