<div class = "container-fluid">
  <div class="page-header">
    <h1>Final Project Pitches</h1>
  </div>

  <% if @teams.count == 0 %>
    <% if @round%>
      <% if !voted?(@round) && @round.open == true %>
        <%= link_to "Vote for a pitch", new_round_vote_path(:round_id => @round.id), class: "btn btn-primary" %>
        <br><br>
      <% elsif @round.open == false %>
        <%= link_to "New Pitch", new_pitch_path, class: "btn btn-primary" %>
      <% else %>
          <h4><i>You have voted!</i></h4>
      <% end %>
    <% end %>

    <ul class="list-group">
      <% @pitches.each do |pitch| %>
        <li class="list-group-item">
          <strong><%= pitch.title %></strong> 
          <p><%= pitch.description %></p>
          <i>Pitched by <%= pitch.student.name %></i>
        </li>
        <br>
      <% end %>
    </ul>
  <% else %>
    <%= link_to "See Teams", teams_path, class: "btn btn-primary" %>
    <p> Click here to view the teams! </p>
  <% end %>
  </div>



