<div class = "container-fluid">
  <h1>Final Project Pitches</h1>
  <% if @round && !voted?(@round) %>
  	Round <%= @round.id %>: <%= link_to "Vote for a pitch", new_round_vote_path(:round_id => @round.id) %>
  <% elsif !admin? %>
  	  <button type="button" class="btn btn-default">
        <%= link_to "New Pitch", new_pitch_path %>
      </button>
  <% end %>
      <br><br>


  <ul class="list-group">
    <% @pitches.each do |pitch| %>
      <li class="list-group-item">
        <strong><%= pitch.title %></strong> 
        <p><%= pitch.description %></p>
        <i>Pitched by <%= pitch.student.name %></i>
      </li>
      <br>
    <% end %>
  </ul>
</div>



