<h1>whats the big idea</h1>

<%= form_for :pitch do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :desription %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>