<div class = "container-fluid">

    <h1> Pitches </h1>
  <% if @round.votes.count != 0 && @round.open != true && @new_round.votes.count != 0 %>
    <button type="button" class="btn btn-default">
      <%= link_to "Advance to Next Round", begin_selection_path(id: @round.id), method: :post %>
    </button>
    <p> Click here to begin the selection process for the next round.</p>
  <% end %>

  <ul class="list-group">
    <% @pitches.each do |pitch| %>
      <li class="list-group-item">
        <strong>Title:</strong>
          <p> <%= pitch.title %> </p>
        <strong> Description: </strong> 
          <p><%= pitch.description %></p>
        <strong> Votes: </strong> 
          <p><%= pitch.votes.count %></p>
        <strong> All voters:</strong>
        <p>
          <% pitch.voters.each do |voter| %>
            <%= voter.name %> 
          <% end %>
        </p>
        <p>  
        <% if @round.open == true  %>
          <p><i>Voting is currently taking place</i>
        <% elsif @new_round.votes.count != 0 %>
        <% elsif pitch.round.id != @round.id %>
          <p><i> Pitch as been selected </i></p>
        <% else %>
          <div class="form-group">
            <%= button_to 'Select', move_to_next_round_path(:pitch_id => pitch.id), method: :post, class: "btn btn-default"%>
          </div>
        <% end %>
      <% end %>
      </p>
  </dl>

</div>