<div class = "container-fluid">

  <div class = "page-header">
    <h1> Pitches </h1>
  </div>
  <% if @round.votes.count != 0 && @round.open != true && @new_round.votes.count != 0 %>
      <%= link_to "Advance to Next Round", begin_selection_path(id: @round.id), method: :post, class: "btn btn-primary" %>
      <p> Click here to begin the selection process for the next round.</p>
      <%= link_to "Finalize Pitches", finalize_pitches_path, class: "btn btn-primary" %>
      <p> Click here to finalize the pitches! </p>
  <% end %>
  <%= link_to 'Back to Home', rounds_path, class: "btn btn-primary"%> <br><br>


  <ul class="list-group">
    <% @pitches.each do |pitch| %>
      <li class="list-group-item">
        <strong>Title:</strong>
          <p> <%= pitch.title %> </p>
        <strong> Description: </strong> 
          <p><%= pitch.description %></p>
        <strong> Votes: </strong> 
          <p><%= pitch.votes.count %></p>
        <strong> All voters:</strong>
        <p>
          <% pitch.voters.each do |voter| %>
            <%= voter.name %> 
          <% end %>
        </p> 
        <% if @round.open == true  %>
          <p><i>Voting is currently taking place</i></p>
        <% elsif @new_round.votes.count != 0 %>
        <% elsif pitch.round.id != @round.id %>
          <p><i> Pitch has been selected </i></p>
        <% else %>
          <div class="form-group">
            <%= button_to 'Select', move_to_next_round_path(:pitch_id => pitch.id), method: :post, class: "btn btn-primary"%>
          </div>
        <% end %>
      <% end %>
  </ul>

</div>