<h1> Pitches </h1>

<dl>
  <% @pitches.each do |pitch| %>
    <dt> 
      <strong> Title: </strong> 
      <%= pitch.title %> </dt>
    <dt> 
      <strong> Description: </strong> 
      <%= pitch.description %>
    </dt>
    <dt> 
      <strong> Votes: </strong> 
      <%= pitch.votes.count %> 
    </dt> 
    <dt> 
      <strong> Voters: </strong> 
      <% pitch.voters.each do |voter| %>
        <%= voter.name %>
      <% end %>
    </dt>
    <% pitch.pitch_rounds.each do |pitch_round| %>
      <% if pitch_round.round_id == 1 %>
        <%= button_to 'Move on to Round 2', move_to_round_2_path, method: :post, pitch_id: pitch_round.pitch_id %>
      <% else %>
        <p> On to Round 2 </p>
      <% end %>
    <% end %>
    <br>
  <% end %>
</dl>

<%= link_to "Create teams", new_team_path %>
<%= link_to "Turn on rounds", pitches_path %>