<div class = "container-fluid">
  <h1> Pitches </h1>

  <button type="button" class="btn btn-default">
    <%= link_to "Create New Round", create_round_path, method: :post %>
  </button>
  <button type="button" class="btn btn-default">
    <%= link_to "Create Teams", new_team_path %>
  </button>
  <% if @open_round == nil  %>
    <button type="button" class="btn btn-default">
      <%= link_to 'Open Round', open_round_path, method: :post %>
    </button>
  <% else %>
    <button type="button" class="btn btn-default">
      <%= link_to 'Close Round', close_round_path, method: :post %>
    </button>
    <i> Round <%= @open_round.id %> Voting is open </i><br>
  <% end %>
  <br><br>

  <ul class="list-group">
    <% @pitches.each do |pitch| %>
      <li class="list-group-item">
        <strong>Title:</strong>
          <p> <%= pitch.title %> </p>
        <strong> Description: </strong> 
          <p><%= pitch.description %></p>
        <strong> Votes: </strong> 
          <p><%= pitch.votes.count %></p>
        <strong> Voters:</strong>
        <p>
          <% pitch.voters.each do |voter| %>
            <%= voter.name %> 
          <% end %>
        </p>
        <p>  
        <% if pitch.round.id != @recent_round.id %>
          <div class="form-group">
            <%= button_to 'Move on to Next Round', move_to_next_round_path(:pitch_id => pitch.id), method: :post, class: "btn btn-default"%>
          </div>
        <% else %>
          <p><i> On to the Next Round </i></p>
        <% end %>
      <% end %>
      </p>
  </dl>

</div>