<h1>Vote for your favorite pitch!</h1>

<% if @open_round.round_number == 1 %>
	<%= form_with url: round_votes_path(@open_round) do |f| %>
		<% @pitches.each do |pitch| %>
			<%= check_box_tag "pitches[]", pitch.id %>
			<%= pitch.title %><br>
		<% end %>
		<br>
		<%= f.submit %>
	<% end %>
<% else %>
	<% if @pitches.length < 4 %>
		<%= form_with url: round_votes_path(@open_round) do |f| %>
			<% @pitches.each do |pitch| %>
				<%= f.radio_button "pitches[]", pitch.id %>
				<%= pitch.title %><br>
			<% end %>
			<br>
			<%= f.submit %>
		<% end %>
	<% else %>
		<%= form_with url: round_votes_path(@open_round) do |f| %>
			<% @pitches.each do |pitch| %>
				<%= check_box_tag "pitches[]", pitch.id %>
				<%= pitch.title %><br>
			<% end %>
			<br>
			<%= f.submit %>
		<% end %>
	<% end %>
<% end %>