<!DOCTYPE html>
<html>
  <head>
    <title>DBCFinalProjectVoting</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <% if session[:user_id] != nil %>
    <% @user = User.find_by(id: session[:user_id]) %>
    <%= link_to 'home', pitches_path %>
    | <%= link_to 'logout', logout_path, method: :delete %>
    | <%= link_to 'admin', users_path%>
    <% else %>
    <%= link_to 'login', login_path %>
    | <%= link_to 'register', new_user_path %>
  <% end  %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
