<!DOCTYPE html>
<html>
  <head>
    <title>DBCFinalProjectVoting</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Dev Bootcamp Final Project Voting</a>
        </div>
        <ul class="nav navbar-nav">
          <% if logged_in? %>
            <% @user = User.find_by(id: session[:user_id]) %>
            <li> <%= link_to 'Logout', logout_path, method: :delete %> </li>
            <li> <%= link_to 'Pitches', pitches_path %> </li>
            <% if admin? %>
              <li> <%= link_to 'Home',  rounds_path%> </li>
              <li> <%= link_to 'Create teams', new_team_path%> </li>
            <% end %>
          <% end  %>
        </ul>
    </div>
  </nav>

  <body>
    <div class = "page-container">
        <%= yield %>
    </div>
  </body>
</html>
